@{
    ViewData["Title"] = "OSM - Sample Application";
}

<div class="text-center">
    <h1 class="display-4"><small>👋🏻</small> This is the OSM Sample App</h1>
    <pre>@ViewData["Response"]</pre>
</div>
