@{
    ViewData["Title"] = "OSM - Sample Application";
}

<div class="text-center">
    <h1 class="display-4"><small>👋🏻</small> This is the OSM Sample App</h1>
    <pre>@ViewData["Response"]</pre>
    <hr />
    <a href="https://github.com/ThorstenHans/osm-sample-application" target="_blank">Browse the code on GitHub</a>
</div>
